<div class=" main-container pt-5 ">
        <div class="container inner-container-1" >
    <div class="row pt-4 mb-2 width-90">
        <div class="col-md-6 col-xl-6 left-container">
            <h2 class="mb-5">Beat your car insurance renewal guarantee, or get the difference </h2>
            <p class="mt-62 font-18 pb-1 color-a8 w-75">Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an
                unknown printer took.</p>
            <a  routerLink="/car-information" ><button type="button" class="btn btn-danger mb-2" >Getting started</button> </a>
            <div class="fees-container mt-4">
                <p>0% Fees</p>
                <p>Lorem Ipsum has been the industry's
                    dummy text ever since the</p>
            </div>
        </div>
        <div class="col-md-6 col-xl-6 right-container">
        </div>
    </div>
</div>
<div class=" inner-container mt-5 ">
    <div class="container" >
        <div class="row pt-5 pb-170">
            <div class="col-xl-12 mb-5">
                <h2 class="text-center font-bold mb-4">WHY CARZO</h2>
            </div>
            <div class="col-xl-4 mt-2 text-center">
                <div class="img-div"><img class="img-fluid" src="./assets/images/security-and-governance@2x.png" alt="fast" /></div>
                <div class="text-left why-carzo-div mt-5">
                    <h4>Secure</h4>
                    <p>Lorem Ipsum has been
                        the industry's standard
                        dummy text</p>
                </div>
            </div>
            <div class="col-xl-4 text-center">
                <div class="img-div"><img class="img-fluid mt-10" src="./assets/images/Fast@2x.png" alt="fast" /></div>
                <div class="text-left why-carzo-div mt-5">
                    <h4>Fast</h4>
                    <p>Lorem Ipsum has been
                        the industry's standard
                        dummy text</p>
                </div>
            </div>
            <div class="col-xl-4 text-center">
                    <div class="img-div"><img class="img-fluid" src="./assets/images/Support@2x.png" alt="fast" /></div>
                <div class="text-left why-carzo-div  mt-5">
                    <h4>Support</h4>
                    <p>Lorem Ipsum has been
                        the industry's standard
                        dummy text</p>
                </div>
            </div>
        </div>
    </div>
</div> 
</div>
<app-footer></app-footer>
