@font-face {
    font-family: barlo-regular;
    src: url(src/assets/fonts/Barlow-Regular.ttf);
  }
@font-face {
    font-family: barlo-bold;
    src: url(src/assets/fonts/Barlow-Bold.ttf);
}
@font-face {
    font-family: barlo-medium;
    src: url(src/assets/fonts/Barlow-Medium.ttf);
}
.w-135{
    width: 135px;
}
.main-form input{
    color: #060606;
    font-size: 18px;
    font-family: barlo-medium;
    border: 1px solid #C2C2C2 ; 
    display: inline;
}
.bg-image{  
    background-position: 12% 25%;
    background-size: 97%;  
    min-height: 89vh;
}