@font-face {
    font-family: barlo-regular;
    src: url(src/assets/fonts/Barlow-Regular.ttf);
  }
@font-face {
    font-family: barlo-bold;
    src: url(src/assets/fonts/Barlow-Bold.ttf);
}
@font-face {
    font-family: barlo-medium;
    src: url(src/assets/fonts/Barlow-Medium.ttf);
}
.w-135{
    width: 135px;
}
.miles{
    color: #929292;
    font-size: 14px;
    font-family: barlo-medium;
    padding-left: 10px;
}
.main-form input{
    color: #060606;
    font-size: 18px;
    font-family: barlo-medium;
    border: 1px solid #C2C2C2 ; 
    display: inline;
}
.text-group label{
    color: #929292;
    font-size: 14px;
    margin-bottom: 3px;
    font-family: barlo-regular;
}
.inline-checkbox-div .custom-radio .custom-control-input~.custom-control-label::before{
    left: 0px;
}
.inline-checkbox-div .custom-radio .custom-control-input:checked~.custom-control-label::after{
    background-image: unset;
}
.inline-checkbox-div span{
    font-size: 15px;
    padding-left: 0px;
    text-align: center;
    font-family: barlo-medium;
}
.bg-image{  
    background-position: 12% 100%;
    background-size: cover;
}