<footer>
        <div class="top_footer py-5">
                <div class="col-sm-12 pt-2 justify-content-around top_footer_container">
                  <div class="row">
                   <div class="col-sm-3">
                       <ul class="list-unstyled p-2">
                           <li> About Us</li>
                           <li> Market Talk</li>
                           <li> Careers</li>
                           <li> Contact Us</li>
                           <li> Refer and Earn</li>
                           <li> Partner Platforms</li>
                       </ul>
                   </div>
                   <div class="col-sm-3">
                       <ul class="list-unstyled p-2">
                           <li> Lorem ipsum amet,</li>
                           <li> consetetur</li>
                           <li> sadipscing elitr,</li>
                           <li> nonumy eirmod</li>
                           <li> invidunt ut l</li>
                           <li> dolore magna</li>
                       </ul>
                   </div>
                   <div class="col-sm-3">
                       <ul class="list-unstyled p-2">
                           <li> Brokerage Calculator</li>
                           <li> Option Strategy Builder</li>
                           <li> Span Calculator</li>
                           <li> Contact Us</li>
                           <li> Company</li>
                       </ul>
                   </div>
                   <div class="col-sm-3">
                       <ul class="list-unstyled p-2">
                           <li> <i class="ico-facebook text-white pr-2"></i> Facebook </li>
                           <li> <i class="ico-twitter text-white pr-2"></i> Twitter </li>
                           <li> <i class="ico-dropbox text-white pr-2"></i> Dropbox</li>
                           <li> <i class="ico-google text-white pr-2"></i> Google Plus</li>
                           <li> <i class="ico-youtube-play text-white pr-2"></i> Youtube</li>
                       </ul>
                   </div>
                </div>
               </div> 
               </div><!-- close of top_footer -->
               <div class="bottom_footer">
                   <div class="col-sm-12 col-12 py-1 bottom_footer_container">
                       <div class="row">
                         <div class="col-sm-7 col-12">
                           <ul class="list-unstyled list-inline p-2 mb-0">
                               <li class="list-inline-item"> <a href="#"> Sitemap </a> </li>
                               <li class="list-inline-item"> <a href="#"> Privacy Policy </a> </li>
                               <li class="list-inline-item"> <a href="#"> Trust & Security </a> </li>
                           </ul>
                          </div>
                          <div class="col-sm-4 col-12 p-sm-2">
                            <p> Copyright &copy; 2019, Carzo </p>
                          </div>
                       </div>
                   </div>
               </div> <!-- close of bottom footer -->
</footer>