<div class="bg-image">
    <div class="container form-container  pb-4 mb-5">

        <form [formGroup]="contactForm" class="center-form pt-3">
            <div class="form-title text-center mb-3">
                <h1 class="mb-3">LET'S GET STARTED WITH YOUR CAR INFORMATION</h1>
                <span class="bottom-border m-auto"></span>
            </div>
            <div class="form-group">
                <label>Select Car year<span class="error" *ngIf="contactForm.controls.caryear.invalid  && submitted">*</span></label>
                <select name="cars" formControlName="caryear" class="custom-select" [(ngModel)]="carInfo.caryear" (change)="onChangeCarYear($event.target.value)" >
                    <option selected value="">Select</option>
                    <option *ngFor="let year of yearList" value="{{year.year}}">{{ year.year }}</option>
                </select>
              
            </div>
            <div class="form-group">
                <label>Select Car Type<span class="error" *ngIf="contactForm.controls.usage.invalid  && submitted">*</span></label>
                <select name="cars" formControlName="usage" class="custom-select" [(ngModel)]="carInfo.usage" (change)="onChangeCaruasage($event.target.value)">
                    <option selected value="">Select</option>
                    <option value="new">New</option>
                    <option value="used">Used</option>
                </select>
             
            </div>
            <div class="form-group">
                <label>Select Car Make<span class="error" *ngIf="contactForm.controls.makeId.invalid  && submitted">*</span></label>
                <select name="cars" formControlName="makeId" class="custom-select" [(ngModel)]="carInfo.makeId"
                    (change)="onChangeCarMake($event.target)">
                    <option selected value="">Select</option>
                    <option  *ngFor="let carMake of carmakelist" value="{{carMake[0]}}">{{carMake[1]}}</option>
                </select>
              
            </div>
            <div class="form-group">
                <label>Select Car Model<span class="error" *ngIf="contactForm.controls.modelId.invalid && submitted">*</span></label>
                <select name="cars" formControlName="modelId" class="custom-select" [(ngModel)]="carInfo.modelId" (change)="onChangeCarmodel($event.target)">
                    <option selected value="">Select</option>
                <option *ngFor="let  carmodel of carmodellist" value="{{carmodel[0]}}" >{{carmodel[1]}}</option>
                </select>
               
            </div>
           
            <div class="form-group text-right mt-5 mb-5">
                <span class="prevnext next mb-5"  (click)="goToNext(contactForm)">Next<span
                        class="icon-next"></span></span>
            </div>
        </form>

    </div>
</div>