<div class="bg-image">
    <div class="container form-container pb-4  mb-5">
        <form [formGroup]="contactForm" class="main-form pt-3">
            <div class="form-title">
                <h1>YOUR {{allformData.caryear}}  {{carMakename}}  {{carModelname}}</h1>
                <span class="bottom-border"></span>
            </div>
            <div class="form-group inline-checkbox-div pb-0">
                <label class="d-block">Do you own or lease this car?</label>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio" formControlName="ownorlease"  value="own" [(ngModel)]="carInfotwo.ownorlease" checked >
                    <label class="custom-control-label" for="customRadio"><span>Own</span></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio2" formControlName="ownorlease" value="lease" [(ngModel)]="carInfotwo.ownorlease">
                    <label class="custom-control-label" for="customRadio2"><span>Lease</span></label>
                </div>
            </div>
            <div class="form-group pb-1">
                <label class="d-block">How many years are you using this car?</label>
                <select name="cars" formControlName="yearsofcar" class="custom-select w-283" [(ngModel)]="carInfotwo.yearsofcar">
                    <option selected value="">Select</option>
                    <option value="volvo">1 year</option>
                    <option value="fiat">2 years</option>
                    <option value="audi">3 years</option>
                    <option value="audi">4 years</option>
                    <option value="audi">5 years</option>
                    <option value="audi">6+ years</option>
                </select>
            </div>
            <div class="form-group desc-radio-div" >
                <label>Do your car have any anti-theft features? Select any that apply.</label>
                <div class="custom-control custom-radio">
                    <input type="checkbox" class="custom-control-input" id="vehicle"  value="Vehicle Recovery Device"   (change)="getantitheftfeatures($event.target.value, $event.target.checked)">
                    <label class="custom-control-label" for="vehicle">
                        <span class="inner-span-des"> Vehicle Recovery Device</span>
                        <span class="inner-span-des1">Uses GPS to track car location</span>
                    </label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="checkbox" class="custom-control-input" id="onestar"  value="OnStar"  (change)="getantitheftfeatures($event.target.value, $event.target.checked)">
                    <label class="custom-control-label" for="onestar"><span class="inner-span-des"> OnStar</span>
                        <span class="inner-span-des1">Subscription service that uses GPS and other anti-theft
                            technologies
                            to recover your car if stolen or in case of an accident or breakdown. </span> </label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="checkbox" class="custom-control-input" id="automatic"  value="Automatic Disabling"  (change)="getantitheftfeatures($event.target.value, $event.target.checked)"> 
                    <label class="custom-control-label" for="automatic">
                        <span class="inner-span-des"> Automatic Disabling</span>
                        <span class="inner-span-des1">Disables the vehicle by making the fuel, ignition, or starting
                            system
                            inoperative</span>
                    </label>
                </div>
            </div>
            <div class="form-group text-right mt-5">
                <span class="prevnext prev" (click)="goToPrevious(contactForm)"><span class="icon-prev"></span>Previous</span><span class="prevnext next"
                    (click)="goToNext(contactForm)">Next<span class="icon-next"></span></span>
            </div>
        </form>

    </div>
</div>